@import url('https://fonts.googleapis.com/css?family=Nunito');

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
#navDiv {
	background-color: #9C27B0; 
	height: 64px;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	background-color:;
	overflow-x: hidden;
	margin: 0;
	line-height: 1px;
	

}

#nav > a {
	-webkit-font-smoothing: antialiased;
	font-family: 'Roboto', sans-serif;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	padding: 22px;
	padding-top: 15px;
	letter-spacing: 1px;
	float: right;
	font-size: 14px;
	opacity: 0.5;
	font-weight: bold;
	height: 100%;


}
#nav > a:hover {
	/*background-color: rgb(40, 40,40);*/
	/*transition: border-bottom-color .1s ease-out;*/
	color: white;
	opacity: 1.0;
	transition: 0.2s;
}
#logoA {
	position: absolute;
	left: 15px;
}
h2 {
	position: absolute;
	top: 15%;
	left: 20%;
	font-family: 'Nunito', sans-serif;
	font-size: 60px;
	color: rgb(80,80,80);
}
table  {
	text-align: center;
	position: absolute;
	top: 50%;
	width: 800px;
	left: 21%;
}
th {
	text-align: center;
}
td {
	text-align: center;
}
.btn {
	color: white;
	background-color: purple;
}
body {
	background-color: #F3E5F5;
}
.lit {
	text-align: center;
	position: absolute;
	top: 20px;
	left: 32%;

}
.lit > a {
 	text-decoration: none;
 	font-family: 'Nunito', sans-serif;
 	color:  #F3E5F5;
 	font-weight: ;
 	font-size: 25px;

 	
}
#Title{
	margin-left: 60px;
	margin-top: 30px;
	font-family: 'Nunito', sans-serif;
	color: #FFFFFF;
}

